.badge-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
}

.badge-2 {
    color: white !important;
    padding: 4px 16px !important;
    border-radius: 15px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    background-color: blue;
    align-items: center !important;
    display: flex !important;
    margin-bottom: 10px;
    
}
